<h2>Update User?</h2>

<%= form_with model: @user do |form| %>
  <%= form.text_field :name %>
  <%= form.number_field :debt, step: 1 %>
  <%= form.submit %>
<% end %>

<%= link_to "All Users", users_path %>
